/* 스크롤 스냅을 위한 기본 설정 */
html,
body {
    height: 100%;
    /* 전체 높이를 100%로 설정 */
    overflow: hidden;
    /* 최상위에서 오버플로우 숨김 */
    margin: 0;
    /* 기본 마진 제거 */
    padding: 0;
    /* 기본 패딩 제거 */
}

body {
    scroll-snap-type: y mandatory;
    /* 세로 방향 스크롤에 스냅 적용 */
    overflow-y: scroll;
    /* 세로 스크롤 활성화 */
}

.section {
    height: 100vh;
    /* 각 섹션은 뷰포트 높이의 100%를 차지 */
    scroll-snap-align: end;
    /* 스크롤 스냅이 섹션의 시작 지점에서 활성화 */
    overflow: hidden;
    /* 섹션 내의 오버플로우 숨김 */
}

.bg-main-page {
    background-color: #333;
    /* 어두운 회색 색상 코드 */
}

.bg-about-page {
    background-color: #f8f9fa;
    /* 부트스트랩의 밝은 회색 색상 코드 */
}

.bg-project-page {
    background-color: #0080ff;
    /* 부트스트랩의 밝은 회색 색상 코드 */
}

.container {
    height: 100%;
    /* 컨테이너는 부모 섹션의 높이를 차지 */
}